/* RESET */
:root {
    --verde: #0a7a33;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: var(--verde);
    color: #ffffff;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

header h1 {
    margin-bottom: 10px;
}

/* MENU */
nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.submenu {
    display: none;
    padding-left: 15px;
}

.submenu.active {
    display: block;
}

.menu {
    display: none;
    flex-direction: column;
    background: var(--verde);
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
}

.menu.active {
    display: flex;
}

.menu-toggle {
    color: #ffffff;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* CARDS */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.banner {
    background-color: #e5ebe649;
    padding: 40px;
    text-align: center;
}

.banner h2 {
    color: var(--verde);
    margin-bottom: 10px;
}

.proximo-jogo {
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    border-left: 5px solid #0a7a33;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.proximo-jogo:hover {
    border-left: 20px solid #0a7a33;
}

.noticias {
    padding: 30px;
}

.noticias h2, .elenco h2, .tecnica h2 {
    margin-bottom: 20px;
    color: var(--verde);
}

#container-noticias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    padding: 10px;
    margin: 0;
    color: var(--verde);
}

.card p {
    padding: 0 10px 15px;
    font-size: 14px;
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.elenco, .tecnica {
    padding: 40px;
    text-align: center;
}

.container-elenco, .container-tecnica {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-jogador, .card-tecnica {
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-jogador:hover, .card-tecnica:hover {
    transform: translateY(-5px);
}

.card-jogador img, .card-tecnica img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-jogador h3, .card-tecnica h3 {
    color: var(--verde);
    margin-bottom: 5px;
}

.card-jogador span, .card-tecnica span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    color: var(--verde);
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 8px;
}

main p {
    text-indent: 30px;
    text-align: justify;
    padding: 15px 0px 15px 0px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--verde);
    font-weight: bold;
}

main ol {
    padding-bottom: 5px;
    padding-left: 25px;
}

.redes a{
    font-size: 24px;
    color: #ffffff;
    margin: 10px;
}

/* FOOTER */
footer {
    background-color: var(--verde);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVO-Tablet */
@media screen and (min-width:768px){
    #container-noticias{
        grid-template-columns: 1fr 1fr;
    }
}

/* RESPONSIVO-Pc */
@media screen and (min-width: 1024px) {
    #container-noticias{
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul{
        display: flex;
        gap: 20px;
    }

    .dropdown {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #ffffff;
        border-radius: 15px;
        list-style: none;
        padding: 20px;
        display: none;
        width: 200px;
    }

    .submenu li {
        margin-bottom: 15px;
    }

    .submenu li:last-child {
        margin-bottom: 0;
    }

    .submenu a {
        color: var(--verde);
        text-decoration: none;
        font-weight: bold;
    }

    .dropdown:hover .submenu { /* Mostrar menu ao passar o mouse */
        display: block;
    }

    .dropdown a {
        position: relative;
    }

    .menu{
        display: flex;
        flex-direction: row;
        padding-left: 21px;
    }

    .menu-toggle{
        display: none;
    }
}